.img-dim {
  display: block;
  width: 100%;
  height: 100%;
}
p {
  text-align: justify;
}
li ul li {
  font-weight: bold;
}
ul {
  list-style: none;
}
.titulos {
  font-weight: bold;
}
h1 {
  font-size: 35px;
}
@media (max-width: 1000px) {
  h1 {
    top: 15%;
    font-size: 25px; /* Cambia el tamaño del texto */
  }
}
@media (max-width: 768px) {
  h1 {
    top: 10%;
    font-size: 16px; /* Cambia el tamaño del texto */
  }
}
